{% extends "network/layout.html" %}

{% load static %}
<head><meta name="csrf-token" content="{% csrf_token %}"></head>

{% block body %}

    <div class="profile-container">
        <div id="profile-username">{{ user.username }}</div>
        <div id="num-followers">Followers: {{ number_of_followers }}</div>
        <div id="num-following">Following: {{ number_of_following }}</div>
        
        {% if not is_viewing_his_page %}
            <form action="{% url 'toggle_follow' %}" method="post">
                <input type="hidden" name="profileUser" value={{ user }}>
                {% csrf_token %}
                {% if is_following %}
                    <input class="btn btn-primary" type="submit" value="Unfollow">
                {% else %}
                    <input class="btn btn-primary" type="submit" value="Follow">
                {% endif %}
            </form>
        {% endif %}
        
    </div>
    <div id="posts"></div>
    <input type="hidden" name="csrfmiddlewaretoken" value="your-csrf-token-here">


    <div class="pagination">
        {% if page_obj.has_previous %}
            <a class="button-style" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% else %}
            <span class="disabled-button-style">Previous</span>
        {% endif %}
        
        {% if page_obj.has_next %}
            <a class="button-style" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% else %}
            <span class="disabled-button-style">Next</span>
        {% endif %}
    </div>


    {% if user.is_authenticated %}

        <script>
            window.users = {{ users_json|safe}}
            window.posts = {{ posts_json|safe }};
            window.likes = {{ likes_json|safe }};
        </script>
        
        <script type="text/javascript">
            window.current_user = "{{ request.user.username|escapejs }}";
        </script>

        <script src="{% static 'network/profile.js' %}"></script>

    {% else %}

        <script>
            window.users = {{ users_json|safe}};
            window.posts = {{ posts_json|safe }};
            window.likes = {{ likes_json|safe }};
        </script>

        <script src="{% static 'network/load_posts.js' %}"></script>
        
    {% endif %}
 
    

{% endblock %}